/* General Demo Style */
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700,900");


body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 400;
    font-size: 1em;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}
